@{
    ViewBag.Title = "About Regina";
}
<h2>@ViewBag.Title </h2>


<p>Here is a little information about me.</p>


<p>I was attending <a href="https://en.wikipedia.org/wiki/ITT_Technical_Institute" target="_blank">ITT Tech</a> with 3 quarters left to graduation when the school was permanently closed. 
    After this I took a little time off and last year decided to attend Reynolds Community College. I am currently in the IST program and getting excited about the progress that I have made in my education.</p>
