@{
    ViewBag.Title = "Contact Regina";
}
<h2>@ViewBag.Title </h2>
<h3>@ViewBag.Message</h3>

<address>
    North Pole Workshop<br />
    One Mistletoe Pkwy<br />
    Holiday, WA 98052-6399<br />
    <abbr title="Main Line">Phone:</abbr>
    <a  href="tel: +3456789012">345.678.9012</a>
</address>

<address>
    <strong>Workshop:</strong>   <a href="mailto:rharless6001@email.vccs.edu">
    rharless6001@email.vccs.edu
</a><br />
</address>