@{
    ViewBag.Title = "Regina Harless";
}

<h2>ITP245 @ViewBag.Title</h2>
<p>This is a prototype for the projects before working on them.</p>
<p>This will be the prototype for my inventory project</p>


<div class="container">
    <div class="row">
        <div class="col-lg-6 school">
            <h3>School</h3>
            <p>
            Teaching project
            </p>
        </div>
        
        
        <div class="col-lg-6 school">
            <h3>Inventory / Purchase Order</h3>
            <p>
            Inventory learning project
            </p>
        </div>
    </div>
</div>